body {
    font: 14px/1.4 Georgia, serif;
}
.foot {
    display: table-row;
    vertical-align: bottom;
    height: 1px;
}
html, body {
    height: 100%;
}
#wrap {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: 150px;
}
/* must be same height as the footer */

#footer {
    position: relative;
    margin-top: -150px;
    /* negative value of footer height */

height: 150px;
    clear: both;
}
#page-wrap {
    width: 75%;
    margin: 80px auto;
}
h1 {
    font: bold 36px Sans-Serif;
    margin: 0 0 20px 0;
}
#close {
    position: absolute;
    right: 10px;
    top: 9px;
    text-indent: -9999px;
    background: url(../img/close.png);
    height: 16px;
    width: 16px;
    cursor: pointer;
}
.form-control {
    display: block;
    width: 100%;
    height: 43px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.message-template {
    margin: 20px 0;
    padding: 20px;
    border-left: 5px solid #eee;
}
.message-template-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
    border-right: 1px solid #d9534f;
    border-top: 1px solid #d9534f;
    border-bottom: 1px solid #d9534f;
    border-radius: 4px;
}
.message-template-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
    border-right: 1px solid #fcf8f2;
    border-top: 1px solid #fcf8f2;
    border-bottom: 1px solid #fcf8f2;
    border-radius: 4px;
}
.message-template-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
    border-right: 1px solid #f4f8fa;
    border-top: 1px solid #f4f8fa;
    border-bottom: 1px solid #f4f8fa;
    border-radius: 4px;
}
.message-template-success {
    background-color: #F4FDF0;
    border-color: #3C763D;
    border-right: 1px solid #F4FDF0;
    border-top: 1px solid #F4FDF0;
    border-bottom: 1px solid #F4FDF0;
    border-radius: 4px;
}
.message-template-default {
    background-color: #EEE;
    border-color: #B4B4B4;
    border-right: 1px solid #EEE;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    border-radius: 4px;
}
.message-template-notice {
    background-color: #FCFCDD;
    border-color: #BDBD89;
    border-right: 1px solid #FCFCDD;
    border-top: 1px solid #FCFCDD;
    border-bottom: 1px solid #FCFCDD;
    border-radius: 4px;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #7b8a8b;
    white-space: nowrap;
}
.message-email-success {
    border-color: #BDBD89;
    border-right: 1px solid #bdc3c7;
    border-top: 1px solid #bdc3c7;
    border-bottom: 1px solid #bdc3c7;
    border-radius: 4px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #ecf0f1;
    border-top: 1px solid #ecf0f1;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.input-sm {
    height: 18px;
    padding: 6px 9px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control {
    border: 1px solid #ccc;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-danger {
    color: #ffffff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 6px 9px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}
.input-group .form-control {
    position: relative;
    /*z-index: 2;*/

float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.input-group-btn > .btn {
    position: relative;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.close:hover, .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}